.netart-page {
    height: 100vh;
    background-size: cover; /* Ensures the background covers the entire area */
    background-position: center; /* Centers the background image */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns text to the left */
    justify-content: center; /* Centers content vertically */
    color: #bbbbbb; /* Ensures text is readable, adjust as needed */
    padding: 8% 10%; /* Provides padding to the container */
    box-sizing: border-box; /* Includes padding in the width and height calculations */
  }
  
  
  .netart-page h1 {
    margin-bottom: 20px; /* Adds space below the title */
    margin-top: 3%;
  }
  
  .netart-page p {
    text-align: justify; 
    line-height: 1.5; 
    max-width: 900px;
  }
  